# ignore .vscode dir
.vscode

# ignore ctags file
tags

# ignore .DS_STORE
.DS_STORE

# ignore .o, .a, bin files
*.o
*.a
miniRT

# ignore .log
*.log

#
*.swiftdoc
*.swiftmodule
*.swiftsourceinfo
*.dylib
*.ppm
